$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

$color: #5e4802;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #7eb750;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

@import url(http://fonts.googleapis.com/css?family=Nunito:700|Varela+Round);
/* Custom page header */
.header {
    .title{
        text-align: center;
        color: $color;
        font-family: 'Nunito', sans-serif;
        font-size: 45px;
        margin-top: 10px;
    }

    /* Make the masthead heading the same height as the navigation */
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

}

/////
.footer{
    display: none;
}

#map-canvas {
    height:300px;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid $color;
}

#message-content{
    position: relative;
    background: #fff;
    border: 4px solid $color;
    padding: 15px;
    border-radius: 10px;
    height: 200px;
    margin-top: 30px;
    font-family: "Varela Round", Arial, "Hiragino Maru Gothic Pro", "HG丸ゴシックM-PRO", "メイリオ", Meiryo, verdana, arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: $color;
    &:after,&:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after{
        border-color: rgba($color, 0);
        border-left-color: #fff;
        border-width: 10px;
        margin-top: -10px;
    }
    &:before {
        border-color: rgba($color, 0);
        border-left-color: $color;
        border-width: 16px;
        margin-top: -16px;
    }
}


#character{
    position: relative;
    width: 260px;
    height: 260px;
    text-align: right;
    [class^="sheep-"]{
        position: absolute;
    }
}

.sheep-message-deliver {
    visibility:hidden;
}

.sheep-message-open {
    visibility:hidden;
}
